# C/C++ Build Artifacts
*.o
*.so
*.efi
obj/
Build/
gnu-efi/

#MSVC Build Artifacts & Logs
*.log
*.Build.CppClean.log
*.recipe
*.exp

#Intellisense and precompiled headers
.vs/
ipch/
*.ipch

# Visual Studio specific files
.vs/
*.sdf
*.suo
*.user
*.ipch
*.VC.db
*.log
x64/
ARM64/
Debug/
Release/
KernelAA64/*.elf
KernelAA64/*.exe
KernelAA64/*.log
KernelAA64/obj/
fat.img
initrd2.img
qemu.pid
dump.s
*.so
*.a
Process/**/*.elf
Process/**/*.exe
Libs/**/*.a
